//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW1NZ-LV1QN48C6/I5
//Device: GW1NZ-1
//Created Time: Mon 05 29 03:57:44 2023

IO_LOC "led_b" 10;
IO_PORT "led_b" PULL_MODE=UP DRIVE=8;
IO_LOC "led_g" 11;
IO_PORT "led_g" PULL_MODE=UP DRIVE=8;
IO_LOC "led_r" 9;
IO_PORT "led_r" PULL_MODE=UP DRIVE=8;
IO_LOC "clk" 47;
IO_PORT "clk" PULL_MODE=UP;
IO_LOC "btn2" 13;
IO_PORT "btn2" PULL_MODE=UP;
IO_LOC "btn1" 44;
IO_PORT "btn1" PULL_MODE=UP;
